.text-blue {
    color: #5163BF;
}
.text-muted {
    color: #878787;
}
.img-rounded {
    border-radius: 50%;
    overflow: hidden;
}
.w-100 {
    width: 100% !important;
}
.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}